.container
  h1 2017 FY OKC Budget Per Citizen
  #list-container
      // divs to be added here
      
// style elements
link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
script(src='/js/okc-per-capita.js', type='application/javascript', charset='utf-8')
//if IE
  script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  
