.container
  style.
    #chart {
      background: #fff;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    
    .title {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    text {
      pointer-events: none;
    }
    
    .grandparent text {
      font-weight: bold;
    }
    
    rect {
      fill: none;
      stroke: #fff;
    }
    
    rect.parent,
    .grandparent rect {
      stroke-width: 2px;
    }
    
    rect.parent {
        pointer-events: none;
    }
    
    .grandparent rect {
      fill: orange;
    }
    
    .grandparent:hover rect {
      fill: #ee9700;
    }
    
    .children rect.parent,
    .grandparent rect {
      cursor: pointer;
    }
    
    .children rect.parent {
      fill: #bbb;
      fill-opacity: .5;
    }
    
    .children:hover rect.child {
      fill: #bbb;
    }
  .row#chart
script(src="http://code.jquery.com/jquery-1.7.2.min.js",charset='utf-8')
script(src="http://d3js.org/d3.v3.min.js"              ,charset='utf-8')
script(src="/js/data.js",charset='utf-8')
script(src="/js/budget-treemap.js",charset='utf-8')
script.
  window.addEventListener('message', function(e) {
      var opts = e.data.opts;
      var data = e.data.data;
      return main(opts, data)
      })

  var defaults = {
      margin: {top: 24, right: 0, bottom: 0, left: 0},
      rootname: "TOP",
      format: ",d",
       title: "",
       width: 1000,
      height: 600
  };
  

  
  
  
  if (window.location.hash === "") {
      d3.json("data/fy2016/c4okc_fy2016_final.json", function(err, res) {
          if (!err) {
              var data = d3.nest()
                           .key(function(d) { return d.agency; })
                           .key(function(d) { return d.lob; })
                           .key(function(d) { return d.program })
                           .entries(res);
              ob.display.budget_tree({title: "City of Oklahoma City Budget - FY2016"}
                , {key: "Budget", values: data}).create();
          }
      });
  }
